@import "/src/Global/sass/variables.scss";
.otpverification {
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 8px;
    max-width: 100%;
    padding: 55px 0 0;
    align-items: $center;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
    margin-bottom: 2rem;
    .p_18{
        color: $p-color1;
        font-size: $p-18-fontsize;
        font-weight: $fweight;
        @media (max-width: $mobile) {
           font-size: 14px;
        }
    }
    .bottom_text{
        @media (max-width: $mobile) {
            font-size: 12px;
         }
    }
    @media (max-width: $mobile) {
        padding: 30px 15px;
        margin-top: 1rem;
        margin-bottom: 8rem;
    }
    .text {
        width: 100%;
        max-width: 444px;
        margin-bottom: 80px;
        @media (max-width: $mobile) {
            margin-bottom: 50px;
        }
    }
    input[type="password"] {
        height: 56px !important;
        border: 1px solid #1e22aa;
        box-sizing: border-box;
        transform: rotate(90deg);
        width: 93px !important; 
        border-radius: 32px;
        margin-right: 0px !important;
        @media (max-width: $mobile) {
            height: 36px !important;
            width: 54px !important;
        }
    }
    .fadetext {
        width: 100%;
        max-width: 444px;
        margin-top: 60px;
        margin-bottom: 45px;
        color: #808080;
        font-size: $p-14-fontsize;
        @media (max-width: $mobile) {
            margin-top: 50px;
        }
       
    }
    .otpbutton_main{
        @media (max-width: $mobile) {
            width: 100%;
        }
        .otpbutton {
            padding: 9px 32px;
            height: 60px;
            background: #f4f4fb;
            border-radius: 8px;
            color: $themeColor;
            font-weight: 700;
            text-transform: capitalize;
            border: 1px solid transparent;
            @media (max-width: $mobile) {
                width: 100%;
            }
        }


    }
}
