@import '/src/Global/sass/variables.scss';
.register_wrapper {
  .register_input_text {
    margin: 25px 0;
    max-width: 333px;
    p#standard-basic-helper-text {
      display: flex;
      gap: 6px;
     svg{
        width: 18px;
     }
    }
  }
  .register_input_text:nth-child(7) {
    max-width: $width-100;
    margin-bottom: 3.5rem;
}

  .form_register {
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 8px;
    padding-bottom: 40px;
    margin-bottom: 3rem;
    .form_inner {
      max-width: 444px;
      margin: 0 auto;
      padding: 70px 0 0;
      .bluebox {
        background: rgba(150, 189, 228, 0.1);
        border-radius: 8px;
        p {
          span {
            span {
              color: $green-color;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .p1 {
    margin-bottom: 12px;
  }
  .greentext {
    color: $green-color;
  }
  .textfieldcolorrrr label {
    color: $themeColor;
    .MuiInput-root {
      border-bottom: 2px solid red;
    }
  }
  .helperTextcolor{
      color: $green-color
  }
}
.phonecolor {
  color: #1E22AA !important;
}