body {
    .objective_vector_img {
        max-width: 300px;
        height: 300px;
    }
    .start_objective_grid {
        padding-left: 30px;

        button {
            width: 100%;
            max-width: 335px;
            margin-top: 100px;
        }
    }
    .card_interest {
        background: linear-gradient(
            268.78deg,
            rgba(255, 255, 255, 0.8) 1.52%,
            rgba(255, 255, 255, 0) 39.44%,
            rgba(255, 255, 255, 0.8) 99.9%
        );
        border-radius: 8px;
    }
    .card_objective {
        border: 2px solid transparent;
        border-radius: 8px;
        position: relative;
        background: linear-gradient(
            268.78deg,
            rgba(255, 255, 255, 0.8) 1.52%,
            rgba(255, 255, 255, 0) 39.44%,
            rgba(255, 255, 255, 0.8) 99.9%
        );
        mix-blend-mode: normal;
        padding: 20px 25px !important;
        margin: 20px 0;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -2;
            margin: -4px;
            background: linear-gradient(92.05deg, #ffffff -0.62%, #e3e3e3 50.1%, #ffffff 93.02%);
        }
       
    }
}
