$input-margin: 25px 0;
$width-100: 100%;
$pfontfamily: "Poppins", sans-serif;
$themeColor: #1e22aa;
.rectangle_heading {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    display: inline;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .form_register {
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 8px;
    padding-bottom: 40px;
    margin-bottom: 6rem;
    .form_inner {
      max-width: 444px;
      margin: 0 auto;
      padding: 70px 0 0;
      .bluebox {
        background: rgba(150, 189, 228, 0.1);
        border-radius: 8px;
        padding: 20px;
        .blueboxsection{
            display: flex;
            align-items: center;
            margin: 10px auto;
        }
        p {
          color: rgba(24, 40, 73, 1);
          span {
            span {
              color: #49a197;
              font-weight: 500;
            }
          }
        }
      }
    }
    .password_form{
        margin-top: 2.8rem;
        text-align: center;
    }
}

.btnn{
  margin-top: 3rem;;
}