@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
$input-margin: 20px 0;
$width-100: 100%;
$pfontfamily: "Poppins", sans-serif;
$themeColor: #1e22aa;

p{
    margin: 0px;
}

.MuiContainer-root.MuiContainer-maxWidthSm.css-cuefkz-MuiContainer-root {
    width: 676px !important ;
    max-width: 676px !important;
}

.xcala-logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 44px 0px 46px 0px;
}

.MuiFormControl-root {
    .MuiInputLabel-root.Mui-focused {
        color: $themeColor;
    }
    .css-ghsjzk-MuiInputBase-root-MuiInput-root {
        &:after {
            border-bottom: 2px solid $themeColor;
        }
    }
    .css-ghsjzk-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
        border-bottom: 1px solid $themeColor;
    }
}
.register-input-text {
    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root,
    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
        color: $themeColor;
    }
}
body .button-primary {
    background: $themeColor;
    border-radius: 8px;
    color: white;
    padding: 14px 10px;
    width: 200px;
    text-transform: capitalize;
    font-size: 18px;
}
.button-primary.Mui-disabled {
    background: #bfbfbf;
    color: #ffffff !important;
}

.Register_rectangle_heading__g-SsI p {
    margin: 0px;
}

// sandeepcss
.formbutton{
    text-align: center;
}
