$themeColor: #1e22aa;
body {
    .app_header {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: none;
        padding: 14px 0;
        .xcala-logo-layout  {
            img{
                width: 125px;
            }
        }
        button{
            color: $themeColor;
            padding: 0 30px;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;
        }
    }
}
