$themeColor: #1e22aa;
body {
    .app_header {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: none;
        padding: 14px 0;
        
        button{
            color: $themeColor;
            padding: 0 30px;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;
        }
        .notification {
            position: relative;
            border-right: 2px solid #BFBFBF;
            border-radius: 0;
            padding-right: 15px;
            margin-right: 15px;
            top: 4px;
        }
       
        .dropdown_profile{
            color: #1E22AA;
            user-select: none;
            cursor: pointer;
            position: relative;
            &::before{
                content: "";
                background-image: url(../../../../public/assets/images/down-arrow.svg);
                position: absolute;
                right: -26px;
                bottom: 0;
                top: 14px;
                background-size: cover;
                height: 10px;
                width: 15px;
            }
            button{
                padding:0 10px 0 0;
            }
        }
        
    }
}
