@import "/src/Global/sass/variables.scss";
@import "../../Global/sass/mixin.scss";

.top_banner {
    background-image: url("../../../public/assets/images/recurring.png");
    background-size: cover;
    background-position: center;
    padding: 40px 0px 40px 0;
    margin-bottom: 0px;
        .heading{
            display: flex;
            align-items: center;
            gap: 20px;
            color: $p-color1;
            margin-top: 1.3rem;
            margin-bottom: 3rem;
        }
        .card_h1{
            display: flex;
            align-items: center;
            gap: 14px;
                .subtitle{
                    display: block;
                .h1{
                font-size: 24px;
                color: $themeColor;
                font-weight: $fweight2;
                }
            }
        }
        .cardstyle{
            border: 2px solid #F2F2F2;
            box-shadow: 8px 8px 20px rgba(61, 64, 75, 0.05);
            border-radius: 16px;
            padding: 24px 30px;
            background: linear-gradient(118.26deg, rgba(255, 255, 255, 0.9) 17.11%, rgba(255, 255, 255, 0) 103.77%);
            backdrop-filter: blur(27px);
              .tableheading{
                padding: 10px 0px;
                font-size: $p-18-fontsize;
                text-transform: uppercase;
            }
        }
        .tabledata{
            font-size: 41px;
            font-weight: bold;

            .fade_text{
                font-weight: $fweight;
                display: block;
                color:#808080
            }
        }   
        .fade_text18{
            margin-top: 1.1rem;
            color:#808080
        }
    }


    .grey_section{
        background: #F2F2F2;
        padding-top: 3rem;
        padding-bottom: 3rem;
        .request_section{
            border-radius: 8px;
            background: #fff;
            padding: 40px;
            justify-content: center;
            margin: 0;
            margin-bottom: 3rem;
            .rescueall{
                border-right: 1px solid #F2F2F2;
                padding: 2rem 5rem;
                .radiobutton{
                    margin-top: 2rem;
                }
                .identity_radio {
                    svg {
                        color: $themeColorText;
                    }
                }
    
            }
            .deposit_section{
               padding: 2rem 5rem;
            }
            .isequalto{
                margin-top: 13px;
            }
            .radiobtn_amount{
                margin-top: 1.5rem;
                display: flex;
                align-items: center;
            }
            .fade_text12{
                color:#808080;
                font-size:12px;
                display: flex;
                align-items: center;
                img{
                    width: 15px;
                }
            }
        }
        .selector{
            margin-top: 2rem;
        }
        .btn Button{
            margin: auto;
            margin-top: 2.5rem;
            padding: 16px 80px;
            height: 60px;
        }

        @include cardBordered;
        .edit_icon {
            a {
                text-decoration: none;
                display: flex;
                gap: 8px;
                align-items: center;
                svg {
                    font-size: 17px;
                }
            }
        }
    }    