.stepper {
    position: relative;
    margin-right: 10px !important;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.08);
        height: 8px;
        
    }
    span {
        position: relative;
        top: 16px;
        left: -11px;
        padding: 6px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
}
.active {
    &::before {
        background: #5ac4b1;
    }
    span {
        background: #5ac4b1;
        color: white;
        opacity: 1;
    }
}
.preactive{
    span {
        opacity: 0;
    }
}
.lets_start_btn {
    button{
        position: relative;
        background: linear-gradient(
            268.78deg,
            rgba(255, 255, 255, 0.8) 1.52%,
            rgba(255, 255, 255, 0) 39.44%,
            rgba(255, 255, 255, 0.8) 99.9%
        );
        mix-blend-mode: normal;
        height: 91px;
        display: flex;
        align-items: center;
        padding: 0 25px!important;
        color: #182849;
        text-decoration: none;
        font-weight: 500;
        width:100%;
        text-align: left;
        border: 2px solid transparent;
        border-radius: 8px;
        font-size: 14px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -2;
            margin: -4px;
            background: linear-gradient(92.05deg, #FFFFFF -0.62%, #E3E3E3 50.1%, #FFFFFF 93.02%);
        }
    }
   
}

.back_btn{
    margin-top: 40px;
    button{
        color: #49a197;
        padding-left: 10px;
        text-decoration: none;
        font-size: 16px;
        img{
            padding-right: 10px;
        }
    }
}
.stepper:first-child::before {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.stepper:last-child::before {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}