@import "/src/Global/sass/variables.scss";
.received_request {
    padding: 50px 30px;
    .success_tick {
        display: flex;
        padding: 30px 0;
        justify-content: center;
        position: relative;
        img {
            width: 150px;
            mix-blend-mode: multiply;
            position: absolute;
            top: -24px;
            left: 50px;
        }
        .success_messg {
            padding: 11px 0 0 120px;
        }
    }
    .registration_wrapper {
        background: $white;
        border-radius: 20px;
        margin-top: 30px;
        .rectangle_heading {
            margin-top: 40px;
            background: linear-gradient(359.32deg, #f1f4f9 -62.97%, rgba(241, 244, 249, 0) 189.05%);
            border-radius: 8px;
            width: 100%;
            padding: 20px;
        }
        .registration_first_step {
            max-width: 640px;
            padding: 0px 37px 40px;
            margin: 0 auto;
            p {
                color: $p-color1;
            }

            
            .copy_btn {
                text-align: center;
                button {
                    width: 100%;
                    max-width: 430px;
                    margin: 0 auto;
                    font-size: 16px;
                    svg{
                        font-size: 20px;
                        position: relative;
                        left: -10px;
                        top: 3px;
                    }
                }
            }
            .warning{
                display: flex;
                .warning_text{
                    padding-left: 10px;
                    color: #D12D35;
                    font-weight: 600;
                }
            }
            .downlaod{
                display: flex;
                color: $themeColor2;
                .downlaod_text{
                    margin-left: 10px;
                    font-weight: 600;
                }
            }
            .bank_detail {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .continue_btn {
        text-align: $center;
        a {
            width: 100%;
            max-width: 255px;
            margin: 30px auto;
        }
    }
}
