@import "/src/Global/sass/variables.scss";

.tablebody{
    .tableheading{
        font-family: Poppins;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #182849;
        background: rgba(150, 189, 228, 0.1);
        height: 33px;
        padding: 3px 16px !important;
    }
}