@import "/src/Global/sass/variables.scss";

.table_tabs Button{
    display: flex;
    justify-content: center;
    width: 50%;
    @media (max-width: $mobile){
        font-size: 16px;
       }
}

.filter{
    display: flex;
    gap: 8px;
    justify-content: start;
    margin-top: 1.5rem;
    .filter_text{
        margin-right: 16px;
    }
}

.table_main{
 display: flex;
 justify-content: center;
 flex-direction: row;
 &:nth-child(even) .table_container{
    background: white;
  }
.table_container{
    background: #F9FBFD;
    border-radius: 8px;
    padding: 5px;
    margin-top: 2.5rem;
     
    @media (max-width: $mobile){
        margin-top: 1.2rem;
}
.success_table{
    .tablecell_heading, .tablecell_heading2{
        border-bottom: 1px solid #ffffff;
}
.tablecell_heading{
@media (max-width: $mobile){
    padding: 10px 0px 10px 10px;
}
}
.tablecell_heading2{
    @media (max-width: $mobile){
        padding: 10px 10px 10px 0px;
    }
    }

.tabledata{
    padding: 10px 0px;
    color: #182849;
    border: none;
    font-size: 14px;
    .fade_text{
        font-weight: $fweight;
        display: block;
        color:#808080;
        font-size: 12px;
    }
}
}
}
}
