@import "/src/Global/sass/variables.scss";

.table_container{
    margin-top: 2.5rem;
    @media (max-width: $mobile){
        margin-top: 1.2rem;

}
.success_table{
    .tablecell_heading, .tablecell_heading2{
        border-bottom: 1px solid #1E22AA;
    .tableheading{
        padding: 10px 0px;
    }
}
.tablecell_heading{
@media (max-width: $mobile){
    padding: 10px 15px 15px 15px;
    width: 50%;
}
}
.tablecell_heading2{
    .fade_text{
        font-weight: $fweight;
        display: block;
        color:#808080;
        font-family: $pfontfamily;
        @media (max-width: $mobile){
            font-size: 12px;
        }
    }
    @media (max-width: $mobile){
        padding: 10px 15px 15px 15px;
    }
    }

.tabledata{
    padding: 10px 0px;
    color: #101820;
    border: none;
    height: 52px;
    font-weight: $fweight;
    @media (max-width: $mobile){
        height: auto;
    }

    .fade_text{
        font-weight: $fweight;
        display: block;
        color:#808080;
        @media (max-width: $mobile){
            font-size: 12px;
        }
    }
    @media (max-width: $mobile){
        font-size: 14px;
            Button{
            display: contents;
            }
           img{
               width: 15px;
               height: 15px;
               margin-left: 53px;
                margin-top: -20px;
                position: absolute;
           }
    }
    .tooltipicon svg{
        @media (max-width: $mobile){
            width: 15px;
            position: absolute;
            margin-left: 34px;
            margin-top: -24px;
    }}
}
.successbluebox{
    padding: 20px 16px;
        @media (max-width: $mobile){
        padding: 8px 16px;
        }
    .fade_text2{
        font-weight: $fweight;
        display: block;
            @media (max-width: $mobile){
                font-size: 12px;
            }
    
    }
}
}
}