@import "/src/Global/sass/variables.scss";

.account_card {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    @media (max-width: $mobile) {
        padding: 10px 15px;
    }
    .user_row {
        .user_grid {
            display: flex;
            padding: 20px;
            @media (max-width: $mobile) {
                padding: 0;
            }
            .user_img {
                img {
                    width: 60px;
                }
            }
            .user_content {
                margin-left: 20px;
            }
        }
    }
    .account_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
            font-weight: 600;
        }
        a {
            font-size: 14px;
            text-decoration: none;
            color: $themeColor2;
            svg {
                width: 15px;
                position: relative;
                top: 6px;
                right: 3px;
            }
        }
    }
    .account_detail_main {
        max-width: 291px;
        .fields {
            padding: 10px 0;
            button {
                width: 100%;
            }
        }
        .readable_field {
            display: flex;
            justify-content: space-between;
            padding: 16px 0;
            border-bottom: 1px solid #F2F2F2;
            &:last-child{
                border:none;
            }
            p{
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
}
