@import "/src/Global/sass/variables.scss";
.login_logo {
    @media (max-width: $mobile) {
        padding-top: 50px;
    }
}
.form_login {
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 8px;
    padding-bottom: 40px;
    margin-top: 30px;
    display: flex;
    max-width: 676px;
    flex-direction: column;

    .form_inner {
        margin: 0 auto;
        padding: 50px 0 0;
        max-width: 400px;
        text-align: $center;
        @media (max-width: $mobile) {
            padding: 50px 20px;
        }

        h3 {
            color: $themeColor;
            text-align: $center;
            font-size: 20px;
            font-weight: $fweight2;
            font-family: $pfontfamily;
        }
        .color_p {
            color: $themeColor;
            text-align: $center;
            font-size: $p-16-fontsize;
            font-weight: $fweight;
            font-family: $pfontfamily;
        }
        .p {
            text-align: $center;
            margin-top: 2.6rem;
            @media (max-width: $mobile) {
                text-align: left;
            }
        }
        .register_input_text {
            margin: 20px auto;
            width: 100%;
            max-width: 70%;
            margin-bottom: 2.5rem;
            @media (max-width: $mobile) {
                max-width: 100%;
            }
        }
    }
    .reset_btn {
        a {
            max-width: 148px;
            margin: 0 auto;
            @media (max-width: $mobile) {
                max-width: 100%;
            }
        }
    }
}
