@import '/src/Global/sass/variables.scss';

  .form_register {
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 8px;
    padding-bottom: 40px;
    margin-bottom: 6rem;
    .form_inner {
      max-width: 444px;
      margin: 0 auto;
      padding: 70px 0 0;
      .bluebox {
        background: rgba(150, 189, 228, 0.1);
        border-radius: 8px;
        padding: 20px;
        .blueboxsection{
            display: flex;
            align-items: $center;
            margin: 10px auto;
            .i{
              width: 15px;
              height: 2px;
            }
        }
     
      }
    }
    .password_form{
        margin-top: 2.8rem;
        text-align: $center;
    }
}
.btnn{
  margin-top: 3.5rem;;
}


