@import '/src/Global/sass/variables.scss';

.email_logo {
    text-align: $center;

    img {
        width: 250px;
    }
    .h3{
        margin-top: 2rem;
        font-weight: $fweight2;
        color: $themeColor;
        text-align: $center;
        margin-bottom: 1.8rem;
        font-size: 24px;
        font-family: $pfontfamily;
    }
    .p{
        text-align: $center;
        width: 444px;
        margin: auto;
        font-size: 18px;
        color: #404040;
        font-family: $pfontfamily;
    }
}