@mixin cardBordered {
    .card_border {
        // border: 2px solid transparent;
        border-radius: 8px;
        position: relative;
        background: linear-gradient(
            265.1deg,
            rgba(255, 255, 255, 0.8) -6.24%,
            rgba(255, 255, 255, 0) 45.32%,
            rgba(255, 255, 255, 0.8) 127.53%
        );
        padding: 20px 30px 20px 30px;
        mix-blend-mode: normal;
        @media (max-width: $mobile) {
            padding: 20px 15px 20px 15px;
        }
        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     z-index: -2;
        //     margin: -4px;
            
        //     background: linear-gradient(92.05deg, #ffffff -0.62%, #e3e3e3 50.1%, #ffffff 93.02%);
        // }
    }
}
@mixin pageHeading {
    .page_wrapper {
        .heading {
            display: flex;
            align-items: center;
            gap: 25px;
            .h2 {
                font-size: 28px;
                color: $h2-color;
                font-size: $fweight;
                line-height: 34px;
                font-family: Museo-Regular;
                @media (max-width: $mobile) {
                    font-size: 24px;
                }
            }
        }
        .p {
            margin-top: 15px;
            margin-bottom: 3.2rem;
            @media (max-width: $mobile) {
                margin-bottom: 2.2rem;
            }
            .fadetext {
                color: #808080;
                font-size: 20px;
                line-height: 30px;
                @media (max-width: $mobile) {
                    font-size: 18px;
                    color: $p-color1;
                }
            }
        }
    }
}
