@import "/src/Global/sass/variables.scss";
@import "/src/Global/sass/mixin.scss";
@include pageHeading;
.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .filter_text {
        font-size: 24px;
        color: $themeColor;
        @media (max-width: $mobile) {
            font-size: 20px;
        }
    }
}
.showmorebtn {
    text-align: center;
    .btn {
        margin-top: 3rem;
        font-weight: $fweight2;
        font-size: $p-18-fontsize;
        line-height: 27px;
        color: $green-color;
        text-align: center;
        text-transform: capitalize;
        border-color: $green-color;
        padding: 12px 88px;
        border-radius: 8px;
        :hover {
            border-color: $green-color !important;
        }
    }
}
